# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [3]:
# !pip install selenium - Biblioteca de automação de browser em segundo plano

Collecting selenium
  Downloading selenium-4.1.3-py3-none-any.whl (968 kB)
Collecting trio~=0.17
  Downloading trio-0.20.0-py3-none-any.whl (359 kB)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\marina.takayama1\anaconda3\lib\site-packages (from selenium) (1.26.7)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\marina.takayama1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\marina.takayama1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\marina.takayama1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\marina.takayama1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\marina.takayama1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\marina.takayama1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: pycparser in c:\users\marina.takayama1\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\marina.takayama1\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\marina.takayama1\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\marina.takayama1\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\marina.takayama1\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\marina.takayama1\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.1.0 selenium-4.1.3 trio-0.20.0 trio-websocket-0.9.2 wsproto-1.1.0

In [3]:
import pandas as pd

# Bibliotecas de automação de navegador/browser
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [29]:
# Criar o navegador
navegador = webdriver.Chrome()

# Entrar no google e pesquisar a cotação do dólar
navegador.get("https://www.google.com.br/")

# Pegar a cotação do dólar
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dólar")
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

# Fechar o navegador após a consulta
navegador.quit()

print(cotacao_dolar)

5.0129

In [30]:
# Criar o navegador
navegador = webdriver.Chrome()

# Entrar no google e pesquisar a cotação do euro
navegador.get("https://www.google.com.br/")

# Pegar a cotação do euro
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

# Fechar o navegador após a consulta
navegador.quit()

print(cotacao_euro)

5.53910869

In [31]:
# Criar o navegador
navegador = webdriver.Chrome()

# Entrar no google e pesquisar a cotação do ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")

# Pegar a cotação do ouro
cotacao_ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(",", ".") # Alterar a vírgula por ponto

# Fechar o navegador após a consulta
navegador.quit()

print(cotacao_ouro)

321.79

### Agora vamos atualiza a nossa base de preços com as novas cotações

- Importando a base de dados

In [32]:
# Importar a base de dados
tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

- Atualizando os preços e o cálculo do Preço Final

In [33]:
# Atualização das cotações
# Cotação do dólar - tabela.loc(linha,coluna) = x
tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar) # float indica que o valor será decimal
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)

# Atualização do Preço de Compra
tabela["Preço de Compra"] = tabela["Cotação"] * tabela["Preço Original"]

# Atualização do Preço de Venda
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.012900,5012.849871,1.40,7017.989819
1,Carro Renault,4500.00,Euro,5.539109,24925.989105,2.00,49851.978210
2,Notebook Dell,899.99,Dólar,5.012900,4511.559871,1.70,7669.651781
3,IPhone,799.00,Dólar,5.012900,4005.307100,1.70,6809.022070
4,Carro Fiat,3000.00,Euro,5.539109,16617.326070,1.90,31572.919533
5,Celular Xiaomi,480.48,Dólar,5.012900,2408.598192,2.00,4817.196384
6,Joia 20g,20.00,Ouro,321.790000,6435.800000,1.15,7401.170000

### Agora vamos exportar a nova base de preços atualizada

In [35]:
# Exportar a base de dados atualizada
tabela.to_excel("ProdutosNovo.xlsx", index = False) # Exporta sem índice